mixin photo(photo)
    div
        h4 
            a(href=`/photos/${photo.id}`)=photo.title
        p=photo.description
        ul
            each hashtag in photo.hashtags
                li=hashtag
        p=`$${photo.price}`
        hr