mixin photo(photo)
        span.photos
            span 
                a(href=`/photos/${photo.id}`)
                    img(src="/"+photo.mainphotoUrl, width=400, height=500)
            h4.items 
                a(href=`/photos/${photo.id}`)=photo.title
            ul.items.list-unstyled
                each hashtag in photo.hashtags
                    li=hashtag
            p.items.price=`₩${photo.price}`
        