@import "./_variables";


// Screens
@import "./screens/home.scss";
@import "./screens/footer.scss";
@import "./screens/watch.scss";
@import "./screens/terms.scss";
@import "./screens/payment.scss";
@import "./screens/search.scss";
@import "./screens/edit-profile.scss";
@import "./screens/profile.scss";
@import "./screens/changepassword.scss";

// Defaults
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
  image-rendering: -webkit-optimize-contrast;
  transform: translateZ(0);
  backface-visibility: hidden;
}

:root{
  --text-color: #f0f4f5;
  --background-color: #263343;
  --accent-color:#d49466;
}

body {
  margin: 0px;
  font-family: 'Open sans';
}

header a {
  text-decoration: none;
  color: white;
}

header {
  top: 0;
  left: 0;
  right: 0;
}

main {
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#263343;
  padding: 8px 12px;
}

.navbar__logo {
  font-size: 24px;
  color: white;
  padding: 15px;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.navbar__menu li {
  padding: 8px 12px;

}

.navbar__menu :hover {
  background: #d49466;
  border-radius: 4px;
}

.navbar__icons {
  list-style: none;
  color: white;
  display: flex;
  padding-left: 0px;
}

.navbar__icons li {
  padding: 8px 12px;
}

.navbar__toogleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #d49466;
}

@media (max-width: 600px) {
  .photo-container {
      grid-template-columns: 500px;
  }
}

@media (max-width: 1200px) {
  .photo-container {
      grid-template-columns: 1fr;
  }

}


@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 8px 24px;
      height: 50vh;
  }
  
  .navbar__menu {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  .navbar__menu li {
      width: 100%;
      text-align: center;
  }

  .navbar__icons {
      display: none;
      justify-content: center;
      width: 100%;
  }

  .navbar__toogleBtn {
      display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active {
      display: flex;
  }

}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

footer {
  background-color: #2f3542;
  color: whitesmoke;
}

@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.message {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 10000px;
  text-align: center;
  animation: goAway .5s ease-in-out forwards;
  animation-delay: 5s;
  &.error {
    background-color: tomato;
    color: white;
  }
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

