.changePassword {
    display: block;
    height: 100%; 
}

.password-change-wrap {
    margin-left: auto;
    margin-right: auto;
    height: 50vh;
    width: 70vw;
    border: 5px solid gray;
    border-radius: 10px;
}

.password-change-wrap form, .password-change-wrap input {
    text-align: center;
}

.password-change-wrap input {
    border: 3px solid black;
    display: block;
    border-radius: 15px;
    font-weight: 300;
    height: 50px;
    margin: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
}

