extends base.pug
include mixins/photo

block content 
    div.wrap
        div.photo-container
            each photo in photos
                +photo(photo)
            else 
                h2 No photo