extends base

block content 
    form(method="POST", action="/photos/upload", enctype="multipart/form-data")
        label(for="photos") Photos 
        input(type="file", id="main-photo", name="main", accept="image/*")
        input(placeholder="Title", required, type="text", name="title")
        input(placeholder="Description", required, type="text", name="description")
        input(placeholder="Hashtags, separated by comma.", required, type="text", name="hashtags")
        input(placeholder="Price", required, type="text", name="price")
        input(type="submit", value="Upload Photo")