extends base.pug

block content 
    img(src="/" + photo.mainphotoUrl)
    div 
        p=photo.description
        p=photo.price
    a(href=`${photo.id}/edit`) Edit Photo &rarr;
    br
    a(href=`${photo.id}/delete`) Delete Photo &rarr;